#wrap {
    background-color: lightskyblue;
    border-color: lightyellow;
    text-align: center;
    padding: 30px;
    margin: 30px;
    width: 300px;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
    
}
